<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Page Not Found - 404</title>
    <meta name="description" content="This page does not exist - 404 error" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body { background: #499bea; background: -moz-linear-gradient(left, #499bea
      0%, #207ce5 100%); background: -webkit-gradient(left top, right top,
      color-stop(0%, #499bea), color-stop(100%, #207ce5)); background:
      -webkit-linear-gradient(left, #499bea 0%, #207ce5 100%); background:
      -o-linear-gradient(left, #499bea 0%, #207ce5 100%); background:
      -ms-linear-gradient(left, #499bea 0%, #207ce5 100%); background:
      linear-gradient(to right, #499bea 0%, #207ce5 100%); filter:
      progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea',
      endColorstr='#207ce5', GradientType=1 ); } section { color: white;
      border-radius: 1em; padding: 1em; position: absolute; top: 50%; left: 50%;
      margin-right: -50%; transform: translate(-50%, -50%) }
    </style>
  </head>
  <body>
    <section>
      <h1>This page does not exist - 404 error</h1>
    </section>
  </body>
</html>