<div class="row">
  <section class="main col-md-9">
    <article>
      <h3>About</h3>
      <br>
        Hi, my name is Seog-Jun Hong, and I am currently studying Computer Programming & Analysis at Seneca College. I love programming and making something new and cool! Specifically, I'm quite interested in developing a web app by React. Programming always makes me feel a sense of accomplishment and get motivated by learning new stuff. Keep in mind that you can only have access to albums after you sign up.
        
        <br>
        <br>
        This soundNimbus app is made for those who really love music, anyone can register for the
        app, and store albums, mp3 files, and lyrics. Also, you can listen to
        the music that you uploaded whenever you want! This app is built with
        JavaScript, Node.js, Handlebars.js, Express.js, PostgreSQL, and MongoDB.
        Albums and music data are stored in PostgreSQL, and user data is stored
        in MongoDB separately.

      </p>
    </article>
  </section>

</div>