<div class="container" style="padding-top:60px">
  <form action="/login/" method="POST">
          <fieldset>
      <legend>Login</legend>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter username"
      />
    </div> 
 </br>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    </br>
    <input type="submit" class="btn btn-primary pull-right" value="Login" />
     <a href="/register" class="btn btn-danger">Register</a>
    </fieldset>
  </form>
</div>