<div class="container" style="padding-top:60px">
  <form action="/login/" method="POST">
          <fieldset>
      <legend>Login</legend>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div> 
 </br>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    </br>
    <button type="login" class="btn btn-danger">Login</button>
    </fieldset>
  </form>
</div>